<%= turbo_stream.append "#{dom_id(@submission)}_comments" do %>
  <%= render "comments/comment", comment: @comment %>
<% end %>
<!-- Update id to generic "new_comment_form" and use "update" stream action instead of replace -->
<%= turbo_stream.update "new_comment_form" do %>
  <%= render "comments/form", comment: Comment.new %>
<% end %>
<%= turbo_stream.replace "#{dom_id(@submission)}_comment_count" do %>
  <p id="<%= dom_id(@submission)%>_comment_count"><%= pluralize(@submission.comments.size, 'comment') %></p>
<% end %>
