<%= turbo_stream.remove dom_id(@comment) %>
<!-- Update new comment form for good measure -->
<%= turbo_stream.update "new_comment_form" do %>
  <%= render "comments/form", comment: Comment.new %>
<% end %>
<!-- Update comment count -->
<%= turbo_stream.update "#{dom_id(@submission)}_comment_count" do %>
  <p id="<%= dom_id(@submission)%>_comment_count"><%= pluralize(@submission.comments.size, 'comment') %></p>
<% end %>
