<!DOCTYPE html>
<html>
  <head>
    <title>Webbit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body class="bg-gray-200 relative h-screen overflow-x-hidden accent-indigo-600">
    <%# The following debug params line is used to show the path in the UI %>
    <%# <%= debug params %>

    <%# Flash error message styling  %>
    <% flash.each do |type, message| %>
      <% if type == "alert" %>
        <div class="bg-red-500">
          <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans">
            <%= message %>
          </div>
        </div>
      <% end %>
      <% if type == "notice" %>
        <div class="bg-green-500">
          <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans">
            <%= message %>
          </div>
        </div>
      <% end %>
    <% end %>

    <%# Main Navbar  %>
    <nav class="bg-white py-2 border-b border-gray-400" role="navigation" aria-label="main navigation">
      <div class="flex flex-wrap items-center justify-center lg:justify-start lg:content-center px-4 lg:px-6 lg:space-x-3 lg:py-0 py-3">
        <%= link_to root_path, class: "leading-normal no-underline text-gray-800 my-2 md:my-0 hover:text-indigo-600 lg:w-auto w-full lg:text-left text-center" do %>
          <h1 class="text-lg pr-2 uppercase font-semibold">Webbit</h1>
        <% end %>
        <div class="flex flex-wrap justify-start w-full lg:w-2/3 flex-1">
          <div class="flex flex-wrap items-center lg:flex-1 lg:space-x-6 lg:w-auto w-full">
            <% if @communities.any? %>
              <div class="lg:w-1/4 w-full lg:mb-0 mb-3">
                <div data-controller="dropdown" class="rounded bg-white text-gray-700 ml-1 hover:bg-gray-50 relative">
                  <%= link_to "#", class: "border no-underline flex items-center justify-between text-gray-700 py-3 px-3 rounded border-gray-400", data: { action: "click->dropdown#toggle click@window->dropdown#hide" } do %>
                    <span class="font-semibold text-sm"><%= content_for?(:community_label) ? yield(:community_label) : "Select a community" %></span>
                    <div class="pointer-events-none absolute inset-y-5 right-2 flex items-center">
                      <%= render_svg "icons/chevron-down", styles: "fill-current w-5 h-5 text-gray-500" %>
                    </div>
                  <% end %>
                  <ul class="hidden absolute top-10 left-0 bg-white min-w-[250px] border border-gray-400 rounded shadow-lg divide-y" data-dropdown-target="menu">
                    <% @communities.each do |community| %>
                      <li>
                        <%= link_to community, class: "bg-white rounded px-4 py-2 hover:bg-indigo-50 hover:text-indigo-700 flex items-center group" do %>
                          <%= render_svg "icons/conversation", styles: "mr-2 fill-current text-gray-500 w-4 h-4 group-hover:text-indigo-600" %>
                          <span>w/</span><%= community.name %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            <div class="flex-1 lg:w-auto w-full lg:mb-0 mb-3">
              <div class="relative">
                <input type="text" class="input pl-9" placeholder="Search webbit">
                <div class="pointer-events-none absolute inset-y-5 left-2 flex items-center">
                  <%= render_svg "icons/search", styles: "stroke-current w-6 h-6 text-gray-400" %>
                </div>
              </div>
            </div>
          </div>
          <div class="lg:pl-6 flex flex-wrap items-center justify-end pt-4 lg:pt-0">
            <div class="mr-3">
              <% if user_signed_in? %>
                <%# in the tutorial, the link_to points to new_submission_path but it is nicer to get redirected to the root %>
                <%= link_to root_path, class: "p-4 rounded hover:bg-indigo-50 bg-white block" do %>
                  <%= render_svg "icons/create", styles: "group-hover:text-indigo-600 fill-current text-gray-600", title: "Create submission" %>
                <% end %>
              <% else %>
                <%= link_to "Login", new_user_session_path, class: "btn btn-outline mr-4" %>
                <%= link_to "Sign up", new_user_registration_path, class: "btn btn-indigo" %>
              <% end %>
            </div>
            <% if user_signed_in? %>
              <div data-controller="dropdown" class="rounded bg-white border border-gray-200 text-gray-600 ml-1 hover:bg-gray-100 relative py-0 px-4">
                <%= link_to "#", class: "no-underline flex justify-between text-sm tracking-wide items-center font-semibold select-none py-3",
                        data: { action: "click->dropdown#toggle click@window->dropdown#hide"} do %>
                  <%= current_user.username ||= current_user.email %>
                  <%= render_svg "icons/chevron-down", styles: "ml-2 w-4 h-4 text-gray-600" %>
                <% end %>
                <div class="relative">
                  <ul class="hidden absolute top-2 -right-4 bg-white border border-gray-400 rounded shadow-lg min-w-[200px]" data-dropdown-target="menu">
                    <li>
                      <%= link_to profile_path(current_user),
                              class: "hover:bg-indigo-50 hover:text-indigo-600 no-underline block py-3 px-4 flex items-center group rounded-t" do %>
                        <%= render_svg "icons/user", styles: "w-5 h-5 fill-current text-gray-600 mr-3 group-hover:text-indigo-600" %>
                        My profile
                      <% end %>
                    </li>
                    <li>
                      <%= link_to edit_user_registration_path,
                              class:"hover:bg-indigo-50 hover:text-indigo-600 no-underline block py-3 px-4 flex items-center group" do %>
                        <%= render_svg "icons/settings", styles: "w-5 h-5 fill-current text-gray-600 mr-3 group-hover:text-indigo-600" %>
                        Account settings
                      <% end %>
                    </li>
                    <li>
                      <%= button_to destroy_user_session_path, method: :delete,
                              class: "hover:bg-indigo-50 hover:text-indigo-600 no-underline block py-3 px-4 flex items-center group w-full rounded-b" do %>
                        <%= render_svg "icons/signout", styles: "w-5 h-5 fill-current text-gray-600 mr-3 group-hover:text-indigo-600" %>
                        Sign out
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <%= yield %>
</body>
</html>
