<!DOCTYPE html>
<html>
  <head>
    <title>Webbit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-200 relative h-screen overflow-x-hidden">

    <%# Flash error message styling  %>
    <% flash.each do |type, message| %>
      <% if type == "alert" %>
        <div class="bg-red-500">
          <div class="container px2 mx-auto-py-4 text-white text-center font-medium font-sans">
            <% message %>
          </div>
        </div>
      <% end %>

      <% if type == "notice" %>
        <div class="bg-green-500">
          <div class="container px2 mx-auto-py-4 text-white text-center font-medium font-sans">
            <% message %>
          </div>
        </div>
      <% end %>
    <% end %>

    <%# Main Navbar  %>
    <nav class="bg-white py-2 border-b border-gray-400" role="navigation" aria-label="main navigation">
      <div class="flex flex-wrap items-center justify-center lg:justify-start lg:content-center px-4 lg:px-6 space-x-3">
        <%= link_to root_path, class: "leading-normal no-underline text-gray-800 my-2 md:my-0 hover:text-indigo-600" do %>
          <h1 class="text-lg pr-2 uppercase font-semibold">Webbit</h1>
        <% end %>

        <div class="flex flex-wrap justify-start w-full lg:w-2/3 flex-1">

          <div class="flex items-center flex-1 space-x-3">

            <div>
            <div class="relative">
              <select class="relative">
                <option>Community 1</option>
                <option>Community 2</option>
                <option>Community 3</option>
              </select>
            </div>
            </div>

            <div>
            <div class="relative">
              <input type="text" class="input pl-10" placeholder="Search webbit">
              <div class="pointer-events-none absolute left-0 top-0 flex items-center">
                <%= render_svg "icons/search", styles: "stroke-current w-5 h-5 text-gray-600" %>
              </div>
            </div>
            </div>
          </div>

          <div class="flex flex-wrap items-center justify-end pt-4 lg:pt-0">
            <div class="mr-3">
              <% if user_signed_in? %>
                <%= link_to new_submission_path do %>
                  <%= render_svg "icons/create" %>
                  <% end %>
              <% else %>
                <%= link_to "Login", new_user_session_path, class: "btn btn-outline btn-sm mr-2" %>
                <%= link_to "Sign up", new_user_registration_path, class: "btn btn-indigo btn-small" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <% if user_signed_in? %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "underline"  %>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: "underline" %>
    <% end %>
    <%= yield %>
  </body>
</html>
